VITE_SUPABASE_URL=https://dkjgjomclyaomvsuekfa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRramdqb21jbHlhb212c3Vla2ZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMDY3NzMsImV4cCI6MjA4OTU4Mjc3M30._jBr7YYMF2J5gq5D7Nscu0vp6aPR9UoIIjb9IDc65X0
